header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
    background-color: rgb(255, 255, 255);
      transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 4px -1px, rgba(0, 0, 0, 0.14) 0px 4px 5px 0px, rgba(0, 0, 0, 0.12) 0px 1px 10px 0px;
      font-family: Roboto, Helvetica, Arial, sans-serif;
      font-weight: 400;
      font-size: 0.875rem;
      letter-spacing: 0.01071em;
      text-align: center;
}

.logo {
  width: 120px;
}

.MuiSvgIcon-root {
  cursor: pointer;
}


.hidden{
    visibility: hidden;
}

