.diary {
  padding: 0 85px;
}

.book-image {
  width: 265px;
  margin: 15px 0;
  padding-top: 40px;
}

.btns {
  display: flex;
  align-items: center;
}


.btn{
    margin: 15px !important;
    background-color: #598e89 !important;
    height: 70px !important;
    width: 60px !important;
    padding: 10px !important;
}
