/* .episodes-page {
  padding: 0 20px;
}

.episodes {
}

.episode-time {
  display: flex;
  justify-content: space-between;
}

.episode-title {
  font-size: 20px;
  font-weight: bold;
  border-bottom: 1px solid black;
}

.episode-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}



.btns {
  display: flex;
  justify-content: center;
}

img {
  width: 100px;
  height: 100px;
}

.episode-desc {
  line-break: anywhere;
} */
.Feedback-title2{
  text-align: center;
  font-size: 15px;
  padding-top: 5px;
}
.css-1knaqv7-MuiButtonBase-root-MuiButton-root{
  color: #598e89 !important;
}
