.episode-page .episode-content {
    margin-bottom: 15px;
    width: 100%;

}

.episode-page .episode-title {
    margin-bottom: 15px;
}


.episode-desc {
    padding: 30px;
}

.episode-page .episode-img {
    margin-top: 15px;
}

.episode-page {
    margin-top: 10px;
}